

body { background-color: rgb(43, 38, 43) 
}
  
body {
  font-family: "Arial", Sans-serif;
}




{

margin: 0;

}

table {width: 97%;
    

height: 97vh;
margin: 2%;}

td {width: 5%;
height: 11vh ;



}

.borda { border: solid;
text-align: center;

border: 3px solid rgb(0, 0, 0);
  border-radius: 10px;
    transition: transform 0.3s ease;
  border: 90%;
}

td:hover {
    transform: scale(1.2);



}

#metaistrans {

background-color: rgb(212, 86, 86);


}



#hidrogenio {
    
    background-color: rgb(159, 230, 52);
}



#gasesnobres {

    background-color: rgb(79, 156, 228);

}

#Metaisalcalinos {

    background-color: rgb(240, 177, 61);

}

#Metaisalcalinosterrosos {

    background-color: rgb(252, 239, 57);

}


#halogenios {

background-color: rgb(117, 171, 218);

}


#semimetal {

background-color: rgb(75, 172, 134);

}

#outros {

background-color: rgb(78, 118, 155);

}


#lanta {

background-color: rgb(94, 182, 182);


}

#acti {

background-color: pink;


}

div {text-align: left;}

